*{
    margin: 0; 
    padding: 0;
}
#nave {
    width: 100%;
    height: 37px;
    background-color: #f9f9f9;
}
#nave .war {
    width: 1205px;
    height: 37px;
    margin: 0 auto;
}

#nave .war .left {
    width: 600px;
    height: 37px;
    float: left;
}
#nave .war .left-1 a {
    text-decoration: none;
    color: #c2c3c3;
}
#nave .left-1>li {
    width: 65px;
    height: 37px;
    list-style: none;
    font-size: 12px;
    line-height: 37px;
    text-align: center;
    float: left;
    padding: 0 7px;
    position: relative;
    z-index: 666666;
}
#nave .left-1 .su:hover {
    background: #ffffff;
    color: red;
}
#nave #xiala {
    width: 100px;
    background-color: #ffffff;
    margin-top: -1px;
    border-top: none;
    position: absolute;
    right: -1px;
    display: none;
    border-radius: 0px 0px 8px 8px;
}
#nave #xiala .cai>li {
    list-style: none;
    color: #000000;
    cursor: pointer;
}
#nave .left-1 .su:hover #xiala {
    display: block;
}
#nave .right {
    width: 500px;
    height: 37px;
    float: right;
}
#nave .right-1>li {
    width: 60px;
    height: 37px;
    list-style: none;
    float: left;
    font-size: 12px;
    line-height: 37px;
    text-align: center;
    margin: 0 5px;
}
#nave .right .right-1 a {
    text-decoration: none;
    color: #cecece;
    width: 60px;
    height: 37px;
    display: block;
}
#nave #tu {
    width: 13px;
    height: 13px;
    padding-top: 2px;
}
#nave .right .right-1 :hover .ke {
    background-color: #ffffff;
    color: red;
}
#nave .one {
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;
    display: none;
    z-index: 66666666;
    position: relative;
}
#nave .one li {
    list-style: none;
}

#nave .right .right-1 :hover .one {
    display: block;
}
#xuan {
    width: 100%;
    height: 92px;
}
#xuan .war {
    width: 1205px;
    height: 92px;
    margin: 0 auto;
    background-color: #fdfdfd;
    position: relative;
}
#xuan .war img {
    float: left;
    cursor: pointer;
}
#xuan .war .left {
    width: 662px;
    height: 92px;
    float: left;
}
#xuan .war .left a {
    text-decoration: none;
    color: #353535;
}
#xuan .war .left li {
    list-style: none;
    float: left;
    margin-right: 24px;
    margin-top: 30px;
    font-size: 16px;
}
#xuan .war .left ul {
    margin-left: 39px;
}
#xuan .war .left .left-1 {
    padding: 5px 5px;
    width: 72px;
    height: 24px;
    background-color: #ff8486;
    border-radius: 8px;
    margin-top: 27px;
    text-align: center;
}
#xuan .war .left li :hover {
    color: red;
}
#xuan .war .rigt {
    width: 260px;
    height: 92px;
    float: right;
}
#xuan .war .rigt input {
    width: 220px;
    height: 29px;
    outline: none;
    border: 0;
    border-radius: 10px 0 0 10px;
    text-indent: 100px;
    background-color: #f0f0f0;
    float: left;
    margin-top: 23px;
}
#xuan .war .rigt .fang {
    width: 30px;
    height: 29px;
    float: left;
    border-radius: 0 10px 10px 0;
    background-color: #f0f0f0;
    margin-top: 23px;
}
#xuan #caidan {
    width: 201px;
    height: 441px;
    background-color: #ffffff;
    position: absolute;
    z-index: 99;
    left: 200px;
    top: 95px;
    border-radius: 8px;
    display: none;
}
#xuan .shangpin{
    height: 92px;
}
#xuan .shangpin:hover #caidan{
    display: block;
}
#xuan #caidan li {
    width: 175px;
    list-style: none;
    margin-top: 27px;
    font-size: 13px;
    position: relative;
    /* z-index: 4; */
    margin-left: -10px;
    cursor: pointer;
}
#xuan #caidan a {
    text-decoration: none;
    color: #8f8f8f;
}
#xuan #caidan li>img {
    width: 8px;
    height: 13px;
    position: absolute;
    right: 10px;
    top: 4px;
}
#xuan #caidan #box1 {
    position: relative;
    z-index: 10;
}
#xuan #caidan li .er {
    width: 450px;
    height: 441px;
    background-color: #ffffff;
    position: absolute;
    top: -12px;
    left: 170px;
    display: none;
    z-index: 99999999999999;
    border-radius: 8px;
}
#xuan #caidan li:hover .er {
    display: block;
}

#xuan #caidan li #er-1 {
    width: 184px;
    height: 60px;
    background-color: #ffffff;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 10px;
}
#xuan #caidan li #er-1 img {
    width: 45px;
    height: 50px;
    padding-top: 6px;
    float: left;
}
#xuan #caidan li #er-1 span {
    line-height: 60px;
    color: #8f8f8f;
}
#xuan #caidan li #er-1:hover {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.08);
}
#gou{
    width: 100%;
    height: 260px;
    background-color: #f5f5f5;
    margin-top: 15px;
}
#gou .war{
    width: 1205px;
    height: 260px;
    margin: 0 auto;
  
    overflow: hidden;
}
#gou .war .box1{
    width: 1202px;
    height: 42px;
    background-color: #ffffff;
}
#gou .war #quan{
    margin-left: 41px;
    margin-top: 15px;
    cursor: pointer;
}
#gou .war #xuan{
    font-size: 12px;
    color: #999999;
    margin-left: 10px;
}
#gou .war #shang{
    font-size: 12px;
    color: #999999;
    margin-left: 190px;
}
#gou .war #danjia{
    font-size: 12px;
    color: #999999;
    margin-left: 410px;
}
#gou .war #shuliang{
    font-size: 12px;
    color: #999999;
    margin-left: 105px;
}
#gou .war #xiaoji{
    font-size: 12px;
    color: #999999;
    margin-left: 105px;
}
#gou .war #caozuo{
    font-size: 12px;
    color: #999999;
    margin-left: 105px;
}
#gou .war .box2{
    width: 100%;
    height: 140px;
    margin-top: 15px;
    background-color: #ffffff;
}
#gou .war  #check{
    margin-top: 63px;
    margin-left: 42px;
    float: left;
    cursor: pointer;
}
#gou .war .box2 img{
    width: 100px;
    height: 100px;
    margin-top: 22px;
    float: left;
    cursor: pointer;
}
#gou .war .box2-1 ul{
    width: 450px;
    margin-top: 22px;
    float: left;
    margin-left: 25px;
}
#gou .war .box2-1 ul li{
    list-style: none;
    font-size: 13px;
    color: #2b2b2b;
}
#gou .war .box2 .ja{
    margin-left: 75px;
    margin-top: 22px;
    font-size: 12px;
    color: #161616;
    float: left;
}
#gou .war .box2 .one{
    width: 90px;
    height: 25px;
    border: 1px solid #eaeaea;
    float: left;
    margin-left: 63px;
    margin-top: 22px;
}
#gou .war .box2 .one .jia{
    float: left;
    width: 25px;
    height: 25px;
    border-right: 1px solid #eaeaea;
    text-align: center;
    cursor: pointer;
}
#gou .war .box2 .one .jian{
    float: right;
    width: 25px;
    height: 25px;
    border-left: 1px solid #eaeaea;
    text-align: center;
    cursor: pointer;
}
#gou .war .box2 .one .shu{
    width: 36px;
    height: 25px;
    text-align: center;
    float: left;
    line-height: 25px;
}
#gou .war .box2 .two{
    margin-left: 51px;
    margin-top: 22px;
    font-size: 12px;
    color: #c00000;
    float: left;
}
#gou .war  #shan{
    margin-left: 94px;
    margin-top: 22px;
    font-size: 13px;
    color: #b1b1b1;
    float: left;
    cursor: pointer;
}
#gou .war .box3{
    width: 1205px;
    height: 61px;
    background-color: #ffffff;
    margin-top: 10px;
}
#gou .war  .box3 #box3-1{
    margin-left: 41px;
    margin-top: 15px;
    cursor: pointer;
}
#gou .war .box3 #box3-2{
    font-size: 12px;
    color: #999999;
    margin-left: 10px;
}
#gou .war .box3 #box3-3{
    font-size: 12px;
    color: #999999;
    margin-left: 10px;
}
#gou #jiesuan{
    width: 180px;
    height: 61px;
    background-color: #c9161d;
    font-size: 17px;
    text-align: center;
    line-height: 61px;
    float: right;
    color: #fff;
}
#gou .war .box3 .box3-4{
    width: 220px;
    height: 61px;
    margin-right: 20px;
    float: right;
}
#gou .war .box3 .box3-4 li{
    list-style: none;
    float: left;
}
#gou .war .box3 .box3-4 .ul1{
    margin-left: 65px;
    margin-top: 10px;
    float: right;
}
#gou .war .box3 .box3-4 .li1{
    font-size: 13px;
    color: #4f4f4f;
}
#gou .war .box3 .box3-4 .li2{
    font-size: 14px;
    color: #c10306;
}
#gou .war .box3 .box3-4 .li3{
    font-size: 12px;
    color: #929292;
}
#gou .war .box3 .box3-4 .li4{
    font-size: 12px;
    color: #bb0000;
}
#gou .war .box3 .box3-4 .li5{
    font-size: 12px;
    color: #929292;
}
#gou .war .box3 .box3-4 .li6{
    font-size: 12px;
    color: #1c1c1c;
}
#gou .war .box3 .box3-4 .ul2{
    margin-left: 15px;
    margin-top: 9px;
    float: right;
}
#foot {
    width: 100%;
    height: 294px;
    background-color: #f9f9f9;
}
#foot .war {
    width: 1202px;
    height: 294px;
    margin: 0 auto;

}
#foot .war .box1 {
    width: 1202px;
    height: 84px;
    border-bottom: 1pa solid #cecece;
}
#foot .war .box1 .box-1>li img {
    float: left;
}
#foot .war .box1 .box-1>li {
    list-style: none;
    float: left;
    line-height: 84px;
    text-indent: 10px;
    margin-left: 130px;
}
#foot .war .box8 {
    width: 1202px;
    height: 211px;
    position: relative;
}
#foot .war .box8 .ui-1 {
    width: 58px;
    height: 211px;
    float: left;
}
#foot .war .box8 .ui-1 .gou {
    font-size: 13px;
    color: #3f3f3f;
    padding-top: 31px;
    margin-bottom: 16px;
}
#foot .war .box8 .ui-1 li {
    list-style: none;
    font-size: 11px;
    color: #878787;
    margin-bottom: 10px;
}

#foot .war .box8 .ui-1 li:hover {
    color: red;
    cursor: pointer;
}
#foot .war .box8 .ui-2 {
    width: 86px;
    height: 211px;
    margin-left: 97px;
    float: left;
}
#foot .war .box8 .ui-2 .bao {
    font-size: 13px;
    color: #3f3f3f;
    padding-top: 31px;
    margin-bottom: 16px;
}
#foot .war .box8 .ui-2 li {
    list-style: none;
    font-size: 11px;
    color: #878787;
    margin-bottom: 10px;
}
#foot .war .box8 .ui-2 li:hover {
    color: red;
    cursor: pointer;
}
#foot .war .box8 .ui-3 {
    width: 97px;
    height: 211px;
    margin-left: 71px;
    float: left;
}
#foot .war .box8 .ui-3 .bao {
    font-size: 13px;
    color: #3f3f3f;
    padding-top: 31px;
    margin-bottom: 16px;
}
#foot .war .box8 .ui-3 li {
    list-style: none;
    font-size: 11px;
    color: #878787;
    margin-bottom: 10px;
}
#foot .war .box8 .ui-3 li:hover {
    color: red;
    cursor: pointer;
}

#foot .war .box8 .ui-4 {
    width: 56px;
    height: 211px;
    margin-left: 58px;
    float: left;
}
#foot .war .box8 .ui-4 .bao {
    font-size: 13px;
    color: #3f3f3f;
    padding-top: 31px;
    margin-bottom: 16px;
}
#foot .war .box8 .ui-4 li {
    list-style: none;
    font-size: 11px;
    color: #878787;
    margin-bottom: 10px;
}
#foot .war .box8 .ui-4 li:hover {
    color: red;
    cursor: pointer;
}

#foot .war .box8 .ui-5 {
    width: 74px;
    height: 211px;
    margin-left: 98px;
    float: left;

}

#foot .war .box8 .ui-5 .bao {
    font-size: 13px;
    color: #3f3f3f;
    padding-top: 31px;
    margin-bottom: 16px;
}

#foot .war .box8 .ui-5 li {
    list-style: none;
    font-size: 11px;
    color: #878787;
    margin-bottom: 10px;
}

#foot .war .box8 .ui-5 li:hover {
    color: red;
    cursor: pointer;
}

#foot .war .box8 .ui-6 {
    width: 86px;
    height: 211px;
    margin-left: 98px;
    float: left;

}

#foot .war .box8 .ui-6 .bao {
    font-size: 13px;
    color: #3f3f3f;
    padding-top: 31px;
    margin-bottom: 16px;
}

#foot .war .box8 .ui-6 li {
    list-style: none;
    font-size: 11px;
    color: #878787;
    margin-bottom: 10px;
}

#foot .war .box8 .ui-6 li:hover {
    color: red;
    cursor: pointer;
}

#foot .war .right {
    width: 280px;
    height: 160px;
    position: absolute;
    left: 920px;
    top: 23px;
    border-left: 1px solid #cecece;
}

#foot .war .right .r-1 {
    width: 280px;
    height: 41px;
    text-align: center;
    line-height: 41px;
    font-size: 19px;
    color: #3a3a3a;
}

#foot .war .right .r-2 {
    width: 280px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 13px;
    color: #515151;
}

#foot .war .right img {
    width: 280px;
    height: 100px;
}

#bottom {
    width: 100%;
    height: 134px;
    background-color: #f9f9f9;
    margin-top: 1px;
}

#bottom .war {
    width: 1202px;
    height: 135px;
   
    margin: 0 auto;
    position: relative;
}

#bottom .war img {
    float: left;
}

#bottom .war .di {
    margin-left: 100px;
}

#bottom .war .ul1 {
    position: absolute;
    top: 27px;
    margin-left: 8px;
}

#bottom .war .di li {
    list-style: none;
    font-size: 11px;
    float: left;
    padding-right: 7px;
    padding-left: 7px;
    color: #797979;
    border-right: 1px solid #cecece;
}
#bottom .war .di li:hover{
    color: red;
    cursor: pointer;
}

#bottom .war .ul2 {
    position: absolute;
    top: 51px;
    left: 104px;
}

#bottom .war .ul2 li {
    list-style: none;
    font-size: 11px;
    float: left;
    padding-right: 5px;
    padding-left: 5px;
    color: #8b8b8b;
}
#bottom .war .ul2 li:hover{
    color: red;
    cursor: pointer;
}
#bottom .war .ul3 li{
    list-style: none;
    font-size: 11px;
    float: left;
    padding-right: 5px;
    padding-left: 5px;
    color: #8b8b8b;
}
#bottom .war .ul3{
    position: absolute;
    top: 75px;
    left: 104px;
}
#bottom .war .ul4{
    position: absolute;
    top: 99px;
    left: 104px;
}
#bottom .war .ul4 li{
    list-style: none;
    font-size: 11px;
    float: left;
    padding-right: 5px;
    padding-left: 5px;
    color: #8b8b8b;
}